# See https://help.github.com/ignore-files/ for more about ignoring files.

# Sensitive Files
includes/secret.php

# Composer
composer.phar
/vendor/

# Unused Files
favicon.old.old.png
favicon.old.png

# Unwanted folders
/bower_components/
/node_modules/
/res/

# remote-ftp configuration files
.ftpconfig

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

.DS_Store
