@import url('https://fonts.googleapis.com/css?family=Cookie|Libre+Baskerville|Overpass');
body {
  font-family: Overpass, sans-serif;
  margin: 0;
  padding: 0;
}


/* Header */

header {
  height: 160px;
  width: 100%;
}

.header-top {
  background: #A6192E;
  color: #efefef;
  text-align: right;
  height: 40px;
  width: 100%;
}

.header-menu {
  margin: 0 10vw;
  padding: 0;
  list-style-type: none;
  vertical-align: middle;
}

.header-menu li {
  margin-top: 12px;
  font-size: 16px;
  margin-left: 20px;
  display: inline-block;
  cursor: pointer;
}

.header-menu li:hover {
  text-decoration: underline;
}

#login-modal {
  width: 320px;
  margin: 40px auto;
  padding: 10px;
  box-shadow: 0px 2px 4px #0f0f0f;
  background-color: #efefef;
  position: absolute;
  right: 10vw;
  top: -10px;
  z-index: 99;
  opacity: 0;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

#login-modal.hidden {
  opacity: 1;
  top: 10px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.header-school-container {
  border-right: 4px #F2A900 solid;
  float: left;
  height: 120px;
  position: relative;
  width: 270px;
}

.header-school-text {
  bottom: 0px;
  color: #F2A900;
  float: right;
  font-family: Baskerville, serif;
  font-size: 1.25em;
  position: absolute;
  right: 10px;
  text-align: right;
  text-transform: uppercase;
}

.header-title-container {
  float: left;
  height: 120px;
  position: relative;
}

.header-title-text {
  bottom: 0px;
  color: #862633;
  font-family: 'Cookie', cursive;
  font-size: 3em;
  left: 10px;
  position: absolute;
  width: 300px;
  cursor: pointer;
}


/* Container */

.container {
  width: 960px;
  margin: 0 auto;
  margin-top: 20px;
}

.create-announcement, .announcement {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #efefef;
}

.announcement h1, .announcement p, .alert h1, .alert p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.alert {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #efefef;
}

.alert .fa {
  display: inline-block;
  font-size: 3.2em;
  margin-left: 10px;
}

.alert-text {
  display: inline-block;
  margin: 4px 20px;
  vertical-align: top;
  max-width: 650px;
}

.alert h1, .alert p {
  padding: 0;
  margin: 4px 0;
}

input[type="text"], input[type="number"] {
  font-family: Overpass, sans-serif;
  padding: 5px;
  outline: none;
  font-size: 1em;
  border: 1px solid #CCC;
  border-radius: 3px;
  transition: border-color 150ms ease;
}

input[type="text"]:focus, input[type="number"]:focus {
  border: 1px solid #4f4f4f;
  transition: border-color 150ms ease;
}

textarea {
  resize: none;
  padding: 1em;
  font-family: Overpass, sans-serif;
  border: 1px solid #CCC;
  border-radius: 6px;
  transition: border-color 150ms ease;
}

textarea:focus {
  border: 1px solid #4f4f4f;
  transition: border-color 150ms ease;
}

.emojionearea {
  max-width: 400px !important;
}

button, input[type="submit"] {
  font-size: 1em;
  font-family: Overpass, sans-serif;
  border: 0;
  background-color: #dfdfdf;
  color: #4f4f4f;
  padding: 8px 25px;
  border-radius: 6px;
  cursor: pointer;
  vertical-align: middle;
}

button:hover, input[type="submit"]:hover {
  background-color: #cfcfcf;
}

button.small {
  padding: 5px 12px;
  font-size: 0.8em;
}

/* Checkbox Styling */

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: #fdfdfd;
  border-radius: 6px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0px 0px 2px #afafaf;
  transition: box-shadow 150ms ease;
}

.checkbox:hover {
  box-shadow: inset 0px 0px 3px #7f7f7f;
  transition: box-shadow 150ms ease;
}

.checkbox input[type="checkbox"] + label:after {
  position: absolute;
  content: "\2713";
  font-size: 20px;
  color: #3f3f3f;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, .2);
  left: 6px;
  top: 0px;
  opacity: 0;
  cursor: pointer;
}

.checkbox:hover label:after {
  opacity: 0.6;
}

.checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.heading {
  font-size: 0.8em;
}

/* Table */

table {
  text-align: left;
  border: 1px solid #4f4f4f;
  margin: 0 auto;
  width: 960px;
  cursor: default;
  border-collapse: collapse;
}

table th, td {
  border: 1px solid #4f4f4f;
  margin: 0;
  padding: 5px 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

table tr {
  vertical-align: text-top;
  background-color: #efefef;
}

table tr:hover {
  background-color: #ffffff;
}


/* A round, clickable button */

.round-touch {
  display: inline-block;
  padding: 5px;
  margin: 0;
  text-align: center;
  vertical-align: center;
  background-color: #cfcfcf;
  width: 20px;
  height: 16px;
  cursor: pointer;
  transition: background-color 150ms ease;
}

.round-touch:hover {
  background-color: #afafaf;
  transition: background-color 150ms ease;
}

.round-touch.red:hover {
  background-color: #e74c3c;
}

.round-touch.green:hover {
  background-color: #2ecc71;
}

.round-touch.blue:hover {
  background-color: #3498db;
}


/* Panels */

.panel-heading {
  margin-bottom: 10px;
}

.panel-heading h3 {
  display: inline-block;
  margin-top: 5px;
}

.panel-heading button {
  display: inline-block;
  float: right;
}


/* Admin Panel */

.admin-form, .user-form {
  vertical-align: middle;
}

.admin-announcement-id, .user-announcement-id {
  color: #efefef;
}

table tr:hover .admin-announcement-id, table tr:hover .user-announcement-id {
  color: #8f8f8f;
}

.action-selectors {
  border: 1px solid #4f4f4f;
  border-radius: 8px;
  background-color: #cfcfcf;
  overflow: hidden;
  white-space: nowrap;
}

.dialog {
  font-family: Overpass, sans-serif;
}

/* Tag Dropdown Styling */

.ui-selectmenu-menu {
  border: none;
  background-color: #bfbfbf;
  border-radius: 6px;
  width: auto;
}

.ui-selectmenu-button.ui-button {
  height: 1em;
  width: auto !important;
  margin-bottom: 5px;
  margin-right: 5px;
}

.ui-selectmenu-text {
  font-size: 0.8em;
  font-family: Overpass, sans-serif;
}

/* Tags Styling */

.tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags-list li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.announcement-tag {
  font-size: 0.8em;
  cursor: default;
  padding: 4px 6px;
  background-color: #bfbfbf;
  border-radius: 6px;
}

/* Announcement Filter Box (Temporary?) */

.announcement-filter {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: #efefef;
  padding: 20px;
  border-radius: 6px;
  font-size: 0.8em;
  transition: all 500ms ease;
}

.announcement-filter.hidden {
  bottom: -440px;
  background-color: rgba(0,0,0,0);
  transition: all 500ms ease;
}

.announcement-filter .announcement-filter-content {
  opacity: 1;
  transition: all 500ms ease;
}

.announcement-filter.hidden .announcement-filter-content {
  opacity: 0;
  transition: all 500ms ease;
}

.filters-list {
  height: 300px;
  overflow: scroll;
}

.filter-list {
  display: block;
  margin: 0 20px;
  padding: 0;
  height: 30px;
}

.filter-list-text {
  float: left;
  padding-top: 4px;
}

.filter-list .checkbox {
  float: right;
}
